body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}
a {
    color: white;
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 5px 0 10px 0;
    height: 80px;
}
h2 span {
    background-color: black;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

#games {
}
article {
    background-color: #666;
    border-radius: 2px;
    float: left;
    margin: 20px;
    text-align: center;
    width: 240px;
    height: 400px;
}
article > a {
    display: inline-block;
    padding: 10px 20px;
    width: 200px;
}
article > footer {
    font-style: italic;
}
